{:builds
 {:dev
  {:asset-path  "/js"
   :build-hooks [(helins.coload/shadow-cljs-hook {helins.coload/-plugin-test {:src ["src/dev"]}})]
   :modules     {:main {:entries [helins.coload.dev]}}
   :output-dir  "cljs/js"
   :target      :browser}}

 :deps
 {:alias [:cljs]}
 
 :dev-http
 {8000 "cljs"}
 
 :nrepl
 {:port 14563}}
